* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container {
  width: 600px;
  display: flex;
  padding-top: 5rem;
  align-items: center;  
  flex-direction: column;
}

#text-display {
  position: absolute;
  top: 20%;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 28px;
  width: 400px;
  text-align: center;
}

#canvas {
  background-color: #c6ecf5;
}

#text-input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 600px;
  background-color: rgb(134, 182, 128);
}

#input {
  width: 15rem;
  height: 2rem;
  padding-left: 1rem;
}

#submit {
  width: 5rem;
  height: 2rem;
  display: none;
}